.topbarcontainer{
    height: 50px;
    width: 100%;
    background-color:rgb(41, 41, 162);
    display: flex;
    align-items:center;
    position :sticky;
    top:0;
    z-index: 999;
}
.topbarleft{
    flex: 4;
 
}
.topbarCenter{
    flex: 5;
}
.searchBar{
    background-color: white;
    width: 100%;
    height: 30px;
   border-radius: 30px;
    display: flex;
    align-items:center;

}
.searchlogo{
    font-size: 20px !important;
    margin-left: 10px;
}
.inputbar{
    border: none;
    width: 70%;
    margin-left: 10px ;
}
.inputbar:focus{
  outline: none;
}
.topbarRight{
    flex: 4;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
}
.topbarlink{
    margin-right: 10px;
    font-size: 14px;
    cursor: pointer;
}
.topbarIcons{
display: flex;
}
.topbarIconItem{
margin-right: 15px;
cursor: pointer;
position: relative;
}
.topbarIconBage{
background-color: red;
width: 15px;
height: 15px;
border-radius: 50%;
position: absolute;
top: -5px;
right:-5px;
text-align: center;
/* display: flex;
align-items: center;
justify-content: center; */
font-size: 12px;
}
.imageGround{
width: 50px;
height: 50px;
display: flex;
align-items: center;
justify-content: center;
border-radius: 50%;
}
.topbarImage{

border-radius: 50%;
object-fit: cover;
cursor: pointer;
font-size: auto;

}
.logo{
    font-size: 24px;
    margin-left: 20px;
    font-weight: bold;
    color: white;
}
.topbarImage{
    height: 45px;
    width: 45px;
}